# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.env

# uploads, build, local files
uploaded_files/
uploads/
dist/
.vscode/
.DS_Store
