.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    padding: 1rem 2rem;
  }
  
  .navbar-logo a {
    color: #61dafb;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  
  .navbar-links a:hover {
    color: #61dafb;
  }
  
  .login-dropdown {
  position: relative;
  cursor: pointer;
}

.login-button {
  padding: 8px 12px;
  background: none;
  color: white;
  font-size: 16px;
}

.dropdown-menu {
  position: absolute;
  top: 30px;
  right: 0;
  background: rgb(73, 72, 72);
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.dropdown-menu button {
  background: none;
  border: none;
  padding: 8px;
  text-align: left;
  cursor: pointer;
  width: 150px;
  font-size: 15px;
}

.dropdown-menu button:hover {
  background: #0c0606;
}
